<ion-view view-title="Settings">
    <ion-content class="has-header">
        <div class="list">

            <div class="item item-divider">
                Unit
            </div>

            <label class="item item-radio">
                <input type="radio" name="group" ng-model="$root.settings.unit" value="metric">
                <div class="item-content">
                    Metric (C)
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" ng-model="$root.settings.unit" value="imperial">
                <div class="item-content">
                    Imperial (F)
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <div class="item item-toggle">
                Automatically locate
                <label class="toggle">
                    <input type="checkbox" ng-model="$root.settings.shouldGeoLocate">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

        </div>
    </ion-content>
</ion-view>
